/* Onboarding.css */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
}

.background-container {
  width: 110%;
  height: 100vh;
  background-image: url('/image 39.png'); /* Adjust path to match your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starting-screen {
  width: 110%;
  max-width: 375px;
  height: auto;
  max-height: 812px;
  position: relative; /* Ensure it's relative to allow z-index to work */
  z-index: 1; /* Ensure it's above the background */
  padding: 20px;
  background-color: #FE8C00; /* Fallback background color */
  color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 1; /* Adjust opacity if needed */
  overflow: auto; /* Allow scrolling if content exceeds height */
  /* text-align: center; */
  /* top: 130px; */
  left: 0.5px;
  border-radius: 48px;
}

.starting-screen p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}

.rectangle-container1 {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust spacing between rectangles */
}

.rectangle {
  width: 24px;
  height: 6px;
  border-radius: 100px 100px 100px 100px;
  background-color: #FFFFFF;
  opacity: 1;
}

.rectangle.second {
  background-color: #C2C2C2;
}

.rectangle.third {
  background-color: #C2C2C2;
}

.skip-next-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Add some spacing from the rectangles */
}

.skip-text, .next-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
}

.skip-text {
  width: 30px;
}

.next-text-container {
  display: flex;
  align-items: center;
}

.next-text {
  width: 32px;
  margin-right: 5px; /* Add some spacing between text and icon */
}

.arrow-icon {
  width: 20px;
  height: 20px;
  padding: 5px 2px;
  gap: 0px;
  opacity: 1; /* Adjust as needed */
}
@media screen and (min-width: 480px) {
  .starting-screen {
    max-width: 400px;
    padding: 25px;
  }
}

@media screen and (min-width: 768px) {
  .starting-screen {
    max-width: 450px;
    padding: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .starting-screen {
    max-width: 500px;
    padding: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .starting-screen {
    max-width: 550px;
    padding: 40px;
  }
}
